<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="header :: myHeader"></div>
</head>
<body class="sb-nav-fixed">
	<div th:replace="navbar :: myNavbar"></div>
	<div id="layoutSidenav">
		<div th:replace="sidebar :: mySidebar"></div>
		<!-- Form starts from here -->
		<div id="layoutSidenav_content">
			<div class="container">
				<br>
				<div class="spinner-grow text-muted"></div>
				<div class="spinner-grow text-primary"></div>
				<div class="spinner-grow text-success"></div>
				<div class="spinner-grow text-info"></div>
				<div class="spinner-grow text-warning"></div>
				<div class="spinner-grow text-danger"></div>
				<div class="spinner-grow text-secondary"></div>
				<div class="spinner-grow text-dark"></div>
				<div class="spinner-grow text-light"></div>
				<hr>
				<ol class="breadcrumb mb-4">
					<li class="breadcrumb-item"><a href="/">Dashboard</a></li>
					<li class="breadcrumb-item active">Add inventory from buyer</li>
				</ol>
				<form class="needs-validation" th:action="@{/createBuyer}"
					th:object="${itemDto}" method="post" novalidate>
					<!-- Text input-->
					<div class="alert alert-danger"
						th:if="${#fields.hasErrors('global')}">
						<ul>
							<li th:each="err : ${#fields.errors('global')}" th:text="${err}"></li>
						</ul>
					</div>
					<fieldset class="border p-2">
						<legend class="w-auto"> Buyer Inventory</legend>
						<div class="form-group">
							<label class="col-md-4 control-label">Buyer Name</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
										class="glyphicon glyphicon-user"></i></span> <input name="buyerName"
										placeholder="Enter Buyer Name" th:field="*{buyerName}"
										class="form-control" type="text" required>
								</div>
								<div class="alert alert-danger"
									th:if="${#fields.hasErrors('buyerName')}"
									th:errors="*{buyerName}"></div>
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label">Buyer Address</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
											class="glyphicon glyphicon-user"></i></span>
									<input name="description"
										   placeholder="Enter buyer address" th:field="*{buyerAddress}"
										   class="form-control" type="text" required>
								</div>
								<div class="alert alert-danger"
									 th:if="${#fields.hasErrors('buyerAddress')}"
									 th:errors="*{buyerAddress}"></div>
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label">Product Quantity</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<span class="input-group-addon"><i
											class="glyphicon glyphicon-user"></i></span>
									<input name="description"
										   placeholder="Enter product quantity" th:field="*{quantity}"
										   class="form-control" type="number" required>
								</div>
								<div class="alert alert-danger"
									 th:if="${#fields.hasErrors('quantity')}"
									 th:errors="*{quantity}"></div>
							</div>
						</div>
						<!-- Text input-->
						<div class="form-group">
							<label class="col-md-4 control-label">Product</label>
							<select class="form-control" id="stockDropDownList" th:field="*{product}">
								<option value="0">Select Product</option>
								<option th:each="option : ${itemTypeList}" th:value="${option}" th:text="${option}"></option>
							</select>
						</div>

						<!-- Button -->
						<div class="form-group">
							<label class="col-md-4 control-label"></label>
							<div class="col-md-4">
								<button id="resetBtn" type="reset" class="btn btn-danger ">Reset</button>
								<button id="addBtn" type="submit"
									class="btn btn-success float-right">Add to inventory</button>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
	</div>
	<div></div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<div th:replace="footer :: myFooter"></div>
</body>
</html>